$palette-color-t: rgba(0,0,0, 0.0);


$palette-color-green: #CDDF18;
$palette-color-green-dark: #AEBD14;
$palette-color-red: #BA123F;

//oranges

$palette-color-orange: #f39f0b;


$palette-color-fiolet: #3D2D40;
$palette-color-blue: #648DAB;
$palette-color-blue-dark: #557791;
$palette-color-blue-light: #7B9EB7;
$palette-color-blue-lighter: #7B9EB7;

$black: #262a30;
$white: #ffffff;

$panel-bg: $white;

$gray-dark:                 #354052;
$gray:                      #5b6779;
$gray-light:                #b7c0cd;
$gray-lighter:              #f5f5f5;
$gray-lightest:             rgba($gray-lighter, 0.5);

$overlay-bg: rgba($gray-lightest, 0.9);
$shadow-color: rgba($gray-dark, 0.1);


$selection-color: $palette-color-blue-lighter;
$selected-color: $gray-light;


$brand-primary:             $palette-color-fiolet !default;
$brand-success:             $palette-color-green !default;
$brand-info:                $palette-color-blue-light !default;
$brand-warning:             $palette-color-orange !default;
$brand-danger:              $palette-color-red !default;
$brand-inverse:             $gray-dark !default;
