@import "variables";
@import "commons";

nav, .navbar{
    // background: $white;
}
.navbar-fixed-top{
    padding-top: 0!important;
    padding-right: 0!important;
    padding-bottom: 0!important;
    padding-left: $main-button-size + (2 * $main-button-offset);
    background:    $gray-lighter;
    @extend .sizeTransition;
}
.gradient-bg{
    background: $white;
    //@include gradient-top(rgba($white, 0.5), $white);

    -webkit-box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.26);
    box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.26);
}

.btn-main{
    //position: fixed;
    left:$main-button-offset;
    // top: $main-button-offset;
    position: absolute;
    bottom: $main-button-offset;
    z-index:99999;

    @extend .sizeTransition;
}
.btn-main-pic{
    @extend .fa;
}
.dashboard{
    @extend .sizeTransitionPadding;
}

aside{
    position: fixed;
    top: 0;
    left:0;
    width: 25%;
    z-index: 200;
    height: 100%;

    @extend .sizeTransition;
    background: $gray-lighter;
    padding: $spacer/4;
    //@extend .gradient-bg;

    @include media-breakpoint-down(md) {
        height: auto;
        width: 100%;

        background: $white;
        -webkit-box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.26);
        -moz-box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.26);
        box-shadow: 0px 12px 25px 0px rgba(0,0,0,0.26);
    }
}

//------------
////////states
//------------

.navbar-state-1{
    //hidden
    .navbar-fixed-top{
        background: transparent;
        //max-height: 0;
        // top: -200px;
        max-height: $main-button-size + (2 * $main-button-offset);
        min-height: $main-button-size + (2 * $main-button-offset);
    }
    // .btn-main{
    //     top: $main-button-offset;
    // }
    .btn-main-pic{
        @extend .fa-angle-down;
    }
    .dashboard, aside{
        padding-top: $main-button-size + (3 * $main-button-offset);
    }

}

.navbar-state-2{
    //no metrics
    .navbar-fixed-top{
        @extend .gradient-bg;
        min-height: $main-button-size + (2 * $main-button-offset);
        max-height: 300px;


    }

    .dashboard, aside{
        padding-top: $spacer*4;
    }

    .dashboard{
        @include media-breakpoint-down(md) {
            padding-top: 12cm;
        }
    }

    .btn-main-pic{
        @extend .fa-angle-up;
    }
}
